.about-section {
    padding: 80px 0 100px 0;
    font-family: Merienda, cursive;
    font-weight: regular;
    color: #000;
}

.about-text h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.about-text p {
    max-width: 610px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

.about-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* відстань між лінією і картинкою */
    margin: 20px 0;
}

.about-divider .line {
    /*flex: 1;
    /* лінії розтягуються */
    height: 1px;
    background-color: #000;
    width: 60px;

}

.about-icon {
    width: 35px;
    height: 35px;
}