.page-home {
    margin: 0;
    color: #fff;
    font-family: 'Marienda', cursive;
}

.page-home p {
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}