.page-our-coffee-section {
    font-family: 'Merienda', cursive;
}

.page-our-coffee {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 55px
}

img.about-image {
    margin: 0;
    width: 300px;
    object-fit: fill;
    display: block;
    flex-shrink: 0;
}

.about-text {
    padding-top: 0px
}

.search-tabs {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 40px 0;
}

.tabs button {
    padding: 6px 16px;
    border: 1px solid #000;
    background: transparent;
    cursor: pointer;
}

.tabs button.active {
    background: #000;
    color: #fff;
}